@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Nunito Sans', sans-serif !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  transition-property: background;
  transition-duration: 1.8s;
}

.menu {
  position: fixed;
  z-index: 1000;
  display: none;
  /* background: #1b1a1a; */
}

.menu.open {
  display: block;
}

.clicksCssDrawClick {
  position: absolute;
  z-index: 0;
  width: 40px;
  height: 40px;
  border-radius: 999em;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  animation: clicksCssDrawClickAnim 1.5s ease-in-out;
}

.alert {
  position: relative;
  animation: appear 0.4s normal forwards ease-in-out;
  overflow: hidden;
  border-radius: 4px;
  max-width: 400px;
}

.alert-progress {
  display: block;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 4px;
  animation: alertProgress linear forwards;
  animation-duration: var(--ani-duration, 3s);
  transform-origin: left;
}

.btn-theme,
.btn-theme:hover,
.team-logo,
.team-logo:hover {
  background: transparent !important;
}
.team-logo,
.team-logo:hover {
  cursor: default;
}
.modal-button[for='hk-modal'] {
  display: none;
}
input.input-timer {
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.module-shape__wrapper.square {
  position: absolute;
  border-radius: 5%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.module-shape__wrapper > .triangle {
  position: absolute;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.module-shape__wrapper > .cross {
  position: absolute;
  -webkit-clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}

.module-shape__wrapper > .frame {
  position: absolute;
  border-radius: 20%;
  -webkit-clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
}

.module-shape__wrapper > .star {
  position: absolute;
  -webkit-clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.module-shape__wrapper > .arrow {
  position: absolute;
  -webkit-clip-path: polygon(
    0 35%,
    65% 35%,
    60% 0%,
    100% 50%,
    60% 100%,
    65% 65%,
    0 65%
  );
  clip-path: polygon(
    0 35%,
    65% 35%,
    60% 0%,
    100% 50%,
    60% 100%,
    65% 65%,
    0 65%
  );
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes clicksCssDrawClickAnim {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes alertProgress {
  from {
    transform: scale(1);
  }

  to {
    transform: scaleX(0);
  }
}
